body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}



header {
  z-index: 1;
  position: fixed;
  background: linear-gradient(to right, #00ffff 0%, #12f8ad 100%);
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3 {
  /*color: #fff;*/
  color: #000;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

/*.left_area span{
    color: #19B3D3;
   
  }*/

.logout_btn  {
  padding: 7px;
  background: #fff;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 60px;
  border-radius: 3px;
  font-size: 17px;
  font-weight: 700;
  color: #000;
  transition: 0.5s;
  transition-property: background;
  box-shadow: 0 8px 24px 0 rgba(18, 248, 173, .2);
  text-transform: uppercase;
  border: none;
  
}

.logout_btn:hover {
  background: #00ffff;
}
.right_area i{
  align-items: center;
  
  letter-spacing: 0px;
  box-sizing: border-box;
  margin-top: -20px;
  margin-right: 10px;
  

}

.sidebar {
  z-index: 1;
  top: 0;
  background: linear-gradient(to right, #00ffff 0%, #12f8ad 100%);
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
  
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 60px;
}

.sidebar .profile_info .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: #000;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  
}

.sidebar a:hover {
  background: #19B3D3;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  color: #000;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover {
  color: #fff;
}

#check:checked~.sidebar {
  left: -185px;
}

#check:checked~.sidebar a span {
  display: none;
}

#check:checked~.sidebar a {
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content {
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background-position: center;
  background-size: cover;
  
  transition: 0.5s;
}

#check:checked~.content {
  margin-left: 60px;
}

#check:checked~.sidebar .profile_info {
  display: none;
}

#check {
  display: none;
}

.mobile_nav {
  display: none;
}

.content .card p {
  background: #fff;
  padding: 28px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}







/* Responsive CSS */

@media screen and (max-width: 780px) {
  .sidebar {
    display: none;
  }
  #sidebar_btn {
    display: none;
  }
  .content {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }
  #check:checked~.content {
    margin-left: 0;
  }
  .mobile_nav {
    display: block;
    width: calc(100% - 0%);
  }
  .nav_bar {
    background: linear-gradient(to right, #00ffff 0%, #12f8ad 100%);
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .nav_bar .mobile_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .nav_bar .nav_btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }
  .nav_bar .nav_btn:hover {
    color: #19B3D3;
  }
  .mobile_nav_items {
    background: linear-gradient(to right, #00ffff 0%, #12f8ad 100%);
    display: none;
  }
  .mobile_nav_items a {
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  .mobile_nav_items a:hover {
    background: #19B3D3;
  }
  .mobile_nav_items i {
    padding-right: 10px;
  }
  .active {
    display: block;
  }
 
}